Repository lewisacidic/superstyled: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "git add"],
  "*.{md,json,yaml}": ["prettier --write", "git add"]
}

fix: textDecoration, display and rename test-utils
  src/__tests__/backgrounds.spec.js
  src/__tests__/box-model.spec.js
  src/__tests__/display.spec.js
  src/__tests__/flex.spec.js
  src/__tests__/interaction.spec.js
  src/__tests__/positioning.spec.js
  src/__tests__/sizes.spec.js
  src/__tests__/test-utils.js
  src/__tests__/typography.spec.js
Due: eslint --fix

chore: bump version to 0.0.6
  package.json
Due: prettier --write

fix: yarnrc version template
  .yarnrc
Due: none

build: migrate commitlint to new format
  .commitlintrc.yml
  commitlint.config.js
Due: eslint --fix

build: updated babel config
  babel.config.js
Due: eslint --fix

build: update linting
  .eslintignore
  .eslintrc
  .eslintrc.yml
  .prettierrc
  .prettierrc.yml
  package.json
Due: prettier --write

build: update husky commit hook
  .huskyrc
  .huskyrc.yml
Due: none

build: update jest config
  jest.config.js
Due: eslint --fix

build: add test config and dependencies
  babel.config.js
  src/__tests__/.babelrc.yml
  src/__tests__/.eslintrc.yml
  src/__tests__/test.config.js
  yarn.lock
Due: eslint --fix

ci: remove circleci
  .circleci/config.yml
Due: none

build: remove rollup in favour of microbundle
  rollup.config.js
Due: eslint --fix

feat: update api
  package.json
  src/__tests__/.babelrc
  src/__tests__/.babelrc.yml
  src/__tests__/.eslintrc
  src/__tests__/.eslintrc.yml
  src/__tests__/__snapshots__/index.spec.js.snap
  src/__tests__/backgrounds.spec.js
  src/__tests__/box-model.spec.js
  src/__tests__/display.spec.js
  src/__tests__/flex.spec.js
  src/__tests__/index.spec.js
  src/__tests__/interaction.spec.js
  src/__tests__/positioning.spec.js
  src/__tests__/sizes.spec.js
  src/__tests__/style.spec.js
  src/__tests__/test-utils.js
  src/__tests__/transformers.spec.js
  src/__tests__/typography.spec.js
  src/backgrounds.js
  src/box-model.js
  src/color.js
  src/displays.js
  src/flex.js
  src/index.js
  src/interaction.js
  src/positioning.js
  src/sizes.js
  src/style.js
  src/transformers.js
  src/typography.js
  yarn.lock
Due: eslint --fix, prettier --write

build: update dependencies
  .commitlintrc.yml
  package.json
  yarn.lock
Due: prettier --write

feat: add support for functions
  src/__tests__/__snapshots__/index.spec.js.snap
  src/__tests__/index.spec.js
  src/style.js
Due: eslint --fix

fix: update yarn.lock
  yarn.lock
Due: none

fix: remove polished test
  src/__tests__/index.spec.js
Due: eslint --fix

test: add more tests of basic functionality
  src/__tests__/__snapshots__/index.spec.js.snap
  src/__tests__/index.spec.js
Due: eslint --fix

feat: add background color
  src/__tests__/.eslintrc.yml
  src/__tests__/__snapshots__/color.spec.js.snap
  src/__tests__/color.spec.js
  src/__tests__/index.spec.js
  src/__tests__/utils.js
  src/color.js
  src/colors.js
  src/index.js
Due: eslint --fix
