Repository lewisacidic/superstyled: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "git add"],
  "*.{md,json,yaml}": ["prettier --write", "git add"]
}

chore: update README and package.json
  README.md
  package.json
Due: prettier --write

ci: add report and test result storing
  .circleci/config.yml
Due: none

feat: add base style function
  src/index.js
  src/index.spec.js
Due: eslint --fix

feat(style): pseudoclasses and breakpoints
  src/index.js
  src/index.spec.js
Due: eslint --fix

feat(style): transformers
  src/index.js
  src/index.spec.js
Due: eslint --fix

feat(style): add theme lookup
  src/index.js
  src/index.spec.js
Due: eslint --fix

build: add build optimisations
  babel.config.js
  package.json
  rollup.config.js
  src/index.js
  yarn.lock
Due: eslint --fix, prettier --write

feat(style): add custom defined breakpoints
  src/index.js
  src/index.spec.js
Due: eslint --fix

feat(style): add a compound style
  rollup.config.js
  src/index.js
  src/index.spec.js
  src/transformers.js
Due: eslint --fix

build: add sourcemap support
  rollup.config.js
Due: eslint --fix

feat: populate styleFns with metadata
  package.json
  rollup.config.js
  src/index.js
  src/index.spec.js
  yarn.lock
Due: eslint --fix, prettier --write

build: change lodash-es dependency to plain lodash
  package.json
  rollup.config.js
  yarn.lock
Due: eslint --fix, prettier --write

chore: bump version to 0.0.2
  package.json
Due: prettier --write

fix: add node builtins and globals to umd
  package.json
  rollup.config.js
  yarn.lock
Due: eslint --fix, prettier --write

chore: bump version to 0.0.3
  package.json
Due: prettier --write

build: update package.json scripts
  commitlint.config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

feat(style): moved to recursive merging
  rollup.config.js
  src/index.js
Due: eslint --fix

refactor(style): made reduce loops more sensible
  rollup.config.js
  src/index.js
Due: eslint --fix

refactor(style): recursively assign to object
  rollup.config.js
  src/index.js
Due: eslint --fix

refactor(style): themeKey to key for brevity
  src/index.js
  src/index.spec.js
Due: eslint --fix

feat(colors): add colors property
  src/colors.js
  src/colors.spec.js
Due: eslint --fix

build(lint): add reports to eslintignore
  .eslintignore
Due: none

refactor(testing): test actual components
  .eslintrc
  jest.config.js
  package.json
  src/__tests__/.babelrc
  src/__tests__/.eslintrc
  src/__tests__/colors.spec.js
  src/__tests__/style.spec.js
  src/__tests__/test.config.js
  src/colors.js
  src/colors.spec.js
  src/index.js
  src/style.js
  yarn.lock
Due: eslint --fix, prettier --write

feat: added all style props
  rollup.config.js
  src/__tests__/backgrounds.spec.js
  src/__tests__/box-model.spec.js
  src/__tests__/colors.spec.js
  src/__tests__/display.spec.js
  src/__tests__/flex.spec.js
  src/__tests__/interaction.spec.js
  src/__tests__/positioning.spec.js
  src/__tests__/sizes.spec.js
  src/__tests__/transformers.spec.js
  src/__tests__/typography.spec.js
  src/__tests__/utils.js
  src/backgrounds.js
  src/box-model.js
  src/display.js
  src/flex.js
  src/interaction.js
  src/positioning.js
  src/sizes.js
  src/transformers.js
  src/typography.js
Due: eslint --fix

chore: bump version to 0.0.4
  package.json
Due: prettier --write

build: remove unnecessary publish script
  package.json
Due: prettier --write

fix: repair import of em in box-model
  src/box-model.js
Due: eslint --fix

build: replace es6 polyfill assign with lodash
  rollup.config.js
  src/box-model.js
  src/sizes.js
Due: eslint --fix

feat: add all style fns to bundle
  src/index.js
Due: eslint --fix

chore: bump version to 0.0.5
  package.json
Due: prettier --write

build(publish): improve commitmsg for yarn publish
  .yarnrc
Due: none

feat: add groups of style fns as exports
  src/__tests__/typography.spec.js
  src/backgrounds.js
  src/box-model.js
  src/displays.js
  src/index.js
  src/positioning.js
  src/transformers.js
  src/typography.js
Due: eslint --fix

docs: scaffold docs using gatsby new
  docs/.gitignore
  docs/.prettierrc
  docs/LICENSE
  docs/README.md
  docs/gatsby-browser.js
  docs/gatsby-config.js
  docs/gatsby-node.js
  docs/gatsby-ssr.js
  docs/package-lock.json
  docs/package.json
  docs/src/components/header.js
  docs/src/components/image.js
  docs/src/components/layout.css
  docs/src/components/layout.js
  docs/src/components/seo.js
  docs/src/images/gatsby-astronaut.png
  docs/src/images/gatsby-icon.png
  docs/src/pages/404.js
  docs/src/pages/index.js
  docs/src/pages/page-2.js
  docs/yarn.lock
Due: eslint --fix, prettier --write

docs: add basic styling
  docs/package.json
  docs/src/components/background.js
  docs/src/components/box.js
  docs/src/components/flex.js
  docs/src/components/header.js
  docs/src/components/icon.js
  docs/src/components/layout.js
  docs/src/components/page.js
  docs/src/components/text.js
  docs/src/theme.js
  docs/yarn.lock
Due: eslint --fix, prettier --write

docs: remove gatsby boilerplate
  docs/gatsby-config.js
  docs/package.json
  docs/src/components/header.js
  docs/src/components/image.js
  docs/src/components/layout.css
  docs/src/components/layout.js
  docs/src/components/seo.js
  docs/src/images/gatsby-astronaut.png
  docs/src/images/gatsby-icon.png
  docs/src/images/superstyled-icon.svg
  docs/src/pages/404.js
  docs/src/pages/about.js
  docs/src/pages/index.js
  docs/src/pages/page-2.js
  docs/yarn.lock
Due: eslint --fix, prettier --write

build(scripts): dev and build scripts docs for lib
  package.json
  yarn.lock
Due: prettier --write

docs(build): replace gatsby build defaults
  docs/.eslintignore
  docs/.eslintrc
  docs/.gitignore
  docs/.prettierrc
  docs/LICENSE
  docs/README.md
  docs/package-lock.json
  docs/package.json
  docs/src/components/header.js
  docs/src/components/layout.js
  docs/src/components/seo.js
  docs/yarn.lock
Due: eslint --fix, prettier --write

docs: add navigation
  docs/gatsby-config.js
  docs/src/components/background.js
  docs/src/components/box.js
  docs/src/components/header.js
  docs/src/components/layout.js
  docs/src/components/nav.js
  docs/src/components/text.js
  docs/src/theme.js
Due: eslint --fix

docs: add quickstart, examples and faq page
  docs/gatsby-config.js
  docs/package.json
  docs/src/components/layout.js
  docs/src/components/link.js
  docs/src/components/logo.js
  docs/src/components/text.js
  docs/src/pages/about.js
  docs/src/pages/examples.js
  docs/src/pages/faq.js
  docs/src/pages/index.js
  docs/src/pages/quickstart.js
  docs/src/theme.js
  docs/yarn.lock
  src/index.js
Due: eslint --fix, prettier --write

build(docs): add a serve yarn command
  docs/package.json
  package.json
Due: prettier --write
